.brand-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: Center;
  letter-spacing: 3%;
  margin-bottom: 50px;
}
.brand-logo-ticket {
  // display: flex;
  //justify-content: space-between;
}
.brand-logo-icon {
  border: 2px solid var(--middle-grey);
  border-radius: 4px;
  fill: var(--middle-grey);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 2px solid var(--blue);
    cursor: pointer;
    fill: var(--blue);
  }
}
