.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid var(--card-border);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-body {
  background-color: var(--white);
  padding: 20px 24px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 4px;
}
.card-specification {
  font-size: 16px;
  line-height: 1.875em;
  color: var(--grey);
  margin-bottom: 20px;
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-animation {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: calc(28 / 18);

  letter-spacing: 0.03em;

  color: var(--white);
  background-color: rgba(48, 151, 235, 0.9);
  .card:hover & {
    transform: translateY(0);
  }
}
