.header {
  border: 1px solid var(--middle-white);
  &__container {
    display: flex;
  }
  &__logo {
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19em;
    color: #212121;
    text-decoration: none;
    margin-right: 93px;
    padding: 25px 0;
  }
  &__nave {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    padding: 32px 0;
  }
  &__tel {
    margin-left: 30px;
  }
  &__icon {
    margin-right: 10px;
    fill: var(--grey);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__connect {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.header__nav--container {
  display: flex;
  align-items: center;
}

.header__logo--span {
  color: var(--blue);
}
.header__list--nave {
  display: flex;
  align-items: center;
  & .nave {
    color: var(--blue);
  }
}
.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__liner--studio::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 79px;
}
.header__liner--portfolio::after {
  content: "";
  width: 78px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 79px;
}

.header__contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--grey);
  align-items: center;
  padding: 32px 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--blue);
    &:hover .header__icon,
    &:focus .header__icon {
      fill: var(--blue);
    }
  }
}
