.hero {
  min-height: 400px;
  text-align: center;
  padding: 118px 0;
  background-color: var(--hero-grey);

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/responsive/header-mob-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/responsive/header-mob-2x.jpg");
  }

  @media screen and (min-width: 768px) {
    min-height: 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/responsive/header-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/responsive/header-tab-2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    min-height: 600px;
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/header-desk-2x.jpg");
    }
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }
}
.hero__button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87em;
  color: var(--white);
  background-color: var(--blue);
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: var(--hero-button);
  }
}
