.priorities__enumeration_text {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.priorities:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.priorities:nth-last-child(-n + 2) {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.priorities {
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.priorities__image {
  width: 100%;
  height: 120px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.priorities__title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--grey);
  letter-spacing: 0.03em;
}

.priorities__caption__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
