.section-team {
  background-color: var(--light-grey);
}
.team__title {
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    //max-width: 1200px;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team-card__specialist {
  @media screen and (min-width: 768px) {
    //max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    //max-width: 1200px;
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
  }
}

.team__specialist_title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  padding-top: 30px;
  margin-bottom: 10px;
}
.team__specialist_name {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--grey);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-social__link {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--blue);
  }
}

.team-social__icon {
  fill: var(--middle-grey);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .team-social__link:hover &,
  .team-social__link:focus & {
    fill: var(--white);
  }
}
.team-social__list {
  display: flex;
  justify-content: center;
}
.team-social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  &:last-child {
    margin-right: 0;
  }
}

.team__member {
  padding-top: 0;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 768px) {
    // max-width: 768px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    //max-width: 1200px;
    margin-left: 0;
    margin-bottom: 0;
  }
}
