.button-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  margin-bottom: 50px;
  padding: 6px 22px;
  margin-left: 8px;

  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--light-grey);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--blue);
  }
  &:last-child {
    margin-right: 0;
  }
}
