.modal {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 530px;
  min-height: 580px;
  border-radius: 4px;
  background-color: var(--white);
  &-title {
    font-size: 20px;
    font-weight: 700px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

.btn-close {
  cursor: pointer;
  position: absolute;
  contain: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  top: 8px;
  right: 8px;
  &:hover {
    fill: var(--blue);
  }
}

.form-fied {
  margin-bottom: 20px;
  &-text {
    display: block;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--grey);
    margin-bottom: 5px;
  }
}
.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  &:focus {
    cursor: pointer;
    border-color: var(--blue);
    + .form-icon {
      fill: var(--blue);
    }
  }
}

.form-text {
  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 5px 10px;
  resize: none;
  outline: none;
  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.input-wrapper {
  display: block;
  position: relative;
}

.check-text {
  display: flex;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-bottom: 30px;
  &-link {
    display: flex;
    margin-left: 5px;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--blue);
    text-decoration: underline;
  }
}
.check-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-checkbox {
  &:checked + .check-text > .check-item {
    background-color: var(--blue);
    border-color: var(--blue);
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
.form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  cursor: pointer;

  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--blue);
  color: var(--white);
  font-size: 16px;
  line-height: calc(30 / 16);

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
}
