:root {
  --blue: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --middle-white: #ececec;
  --light-grey: #f5f4fa;
  --middle-grey: #afb1b8;
  --hero-grey: #2f303a;
  --card-border: #eeeeee;
  --hero-button: #188ce8;
}
